<?xml version="1.0" encoding="UTF-8"?>
<project>
  <actions/>
  <description tal:content="description"></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode tal:omit-tag="not:exists:assignedNode" tal:content="assignedNode"/>
  <canRoam tal:condition="not:exists:assignedNode">true</canRoam>
  <canRoam tal:condition="exists:assignedNode">false</canRoam>
  <disabled tal:content="disabled | string:false">false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>
